<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Amor em Movimento"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Extensao"
        android:networkSecurityConfig="@xml/network_security_config">
        <!--
            SEGURANÇA DE REDE:
            usesCleartextTraffic foi substituído por network_security_config.xml
            que permite HTTP apenas para 10.0.2.2 (emulador) e localhost.
            Em produção com HTTPS, remova o domain-config do network_security_config.xml.
        -->

        <activity android:name=".MainActivity" />
        <activity android:name=".EventosActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".ContatoActivity" />
        <activity android:name=".AdminEventActivity" />
        <activity android:name=".EventDetailActivity" />
        <activity android:name=".InscricaoSucessoActivity" />
        <activity android:name=".InscricaoFormActivity" />
        <activity android:name=".VoluntariosActivity" />
        <activity android:name=".VolunteerDetailActivity" />
        <activity android:name=".GerenciarParticipacaoActivity" />
        <activity android:name=".HistoricoActivity" />
        <activity android:name=".FeedActivity" />

        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
